@font-face{
     font-family:VodafoneLight;
     src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonelt_ttf.ttf) format('truetype') 
}
 @font-face{
     font-family:VodafoneBold;
     src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot);
     src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot?#iefix) format('embedded-opentype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_ttf.ttf) format('truetype');
     font-weight:400;
     font-style:normal 
}
 @font-face{
     font-family:VodafoneRgBold;
     src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot);
     src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot?#iefix) format('embedded-opentype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_ttf.ttf)format('truetype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_svg.svg) format('svg');
     font-weight:400;
     font-style:normal 
}
 @font-face{
     font-family:VodafoneRegular !important;
     src:url('vodafone-regular.eot');
     src:url('vodafone-regular.eot?#iefix') format('embedded-opentype');
     font-style:normal;
}
/*====== DESKTOP ======*/
 body{
     font-family:VodafoneRegular,Helvetica Neue,Helvetica !important;
     background-color:black;
}
/*internal padding survey container*/
 .ng-pristine.ng-untouched.ng-valid.ng-scope.ng-isolate-scope.ng-not-empty{
     padding: 65px 88px 50px 88px;
}
/*reduce margin bottom between elements*/
 #liveForm .kpl_builder .pageRepeater .neb-web-component, #liveForm .kpl_builder .kpl-thankYouHolder .neb-web-component {
     margin-bottom: 0px !important;
}
 p{
     margin:0px !important;
}
/*title 1 #liveForm > div > div.live-form-content > div.modal-live-form.ng-scope > div > div > div:nth-child(1) > div > div > p > p */
 .mvaTitle1{
     font-family: VodafoneRegular;
     font-size: 28px;
     font-weight: 700;
     line-height: 36px;
     letter-spacing: 0px;
     text-align: left;
}
/*title 2 #liveForm > div > div.live-form-content > div.modal-live-form.ng-scope > div > div > div:nth-child(2) > div > div > p > p */
 .mvaTitle2{
     font-family: VodafoneRegular;
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0px;
     text-align: left;
     color: #25282B;
}
/*title 3 #liveForm > div > div.live-form-content > div.modal-live-form.ng-scope > div > div > div:nth-child(3) > div > div > p > p */
 .mvaTitle3{
     font-family: VodafoneRegular;
     font-size: 18px;
     font-weight: 700;
     line-height: 24px;
     letter-spacing: 0px;
     text-align: left;
     color: #25282B;
}
/*CES rating scale parent*/
 .ng-pristine.ng-valid{
     width: 621px;
     height: auto;
}
/*CES rating scale flex container*/
 #wrapper_e911-b2de-ee2f-f84c-1f47-75ed-9126-169b > div > neb-rating > div > form > span{
     display: flex;
     justify-content: space-between;
     align-content: stretch;
     align-items: center;
     gap: 10px;
}
/*rating scale single elements style default state*/
 .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label {
     height: 32px !important;
    /* adjust height but add !important to activate it or this setting is ignored */
     width: 82px !important;
    /* adjust width but add !important to activate it or this setting is ignored */
     background-color: transparent !important;
    /* background color*/
     color: #262626 !important;
    /* text color unselected */
     font-weight: 400;
     font-size: 18px;
     border-radius: 100%;
     line-height:24px;
 }
/*rating scale single elements style on button state*/
.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.on, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.on,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.on {
  background: red;
  color: purple !important; 
}
/*rating scale single elements style on hoover state*/
.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.hover, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.hover,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.hover {
  background: yelkow;
  color: green !important; 
}
/*borders and background colors of selected circular buttons in rating scale*/
.neb-rating.numbersCircle label.rating-label.selected,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label {
    background: green; 
    color: orange !important; 
    background: green;
    background: radial-gradient(ellipse at center, #5985F7 60%, #4769C5 62%);
    background: -webkit-radial-gradient(center, ellipse cover, #5985F7 60%, #4769C5 62%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$core-color', endColorstr=$border-color', GradientType=1); 
}

/*border and background colors of selected square buttons in a rating scale*/
/* set color for ON */
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.on {
    background: grey; 
}
/* set color for hover */
   .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.hover {
    background: #2b4aa0; 
}
/* set color of selected(accumulative) or during selection(singleselect) */
/* of each border (bottom,left, top, right) and very last attribute is background color */
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label,rating-label.selected {
    /*background: linear-gradient(0deg, ##2B4AA0 6%, transparent 0%), linear-gradient(90deg, #2B4AA0 6% transparent 0%), linear-gradient(180deg, #2B4AA0 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC;
    background: -webkit-linear-gradient(90deg, ##2B4AA0 6%, transparent 0%), linear-gradient(90deg, #2B4AA0 6% transparent 0%), linear-gradient(180deg, #2B4AA0 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC; 
*/
     background:orange;
}

    /*====== TABLET ======*/
    /*====== MOBILE ======*/
     
