@font-face{
  font-family:VodafoneRegular;
  src:url('vodafone-regular.eot');
  src:url('vodafone-regular.eot?#iefix') format('embedded-opentype');
  font-style:normal;
}

body{
  font-family:VodafoneRegular,Helvetica Neue,Helvetica !important;
}
/*Style title 1*/
.mvaTitle1{
font-family: VodafoneRegular;
font-size: 28px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}
/*Style title 2*/
.mvaTitle2{
font-family: VodafoneRegular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
/*Style title 3*/
.mvaTitle3{
font-family: VodafoneRegular;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
/*To remove the asterisk*/
.fa.fa-asterisk {
  display: none;
}


/******************************************/
/* main definition of rating scale objects*/
/******************************************/
/* background:  changes colour of background behind text */
/* note that there may be more than one background property set to handle various browsers and capabilities */
/* color: changes colour of text */
/* background: changes colour of background: */
/* height: changes the height of the box or circle but will need the !important property set e.g. height: 29px !important */
/* widht: changes the width of the box or circle but will need the !important property set e.g. width: 29px !important */
/* This next section alters background colours for unselected or neutral state */
/* default colours */
/* On = 5985f7 client = ??????*/
/* hover = 4769c5 client = ??????*/
/* selected = 5985f7 client = ??????*/

.neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label,
 .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label,
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label {
  height: 29px; /* adjust height but add !important to activate it or this setting will be ignored */
  width: 29px; /* adjust width but add !important to activate it or this setting will be ignored */
  background: #ffffff; /* background colour*/
  color: #000000; /* text colour unselected */
  font-weight: 400;
  border-radius: 100%;
  font-size: 160px; 
  }
  
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label span.native-display-value-in-rating, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label span.native-display-value-in-rating, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label span.native-display-value-in-rating {
    display: block;
    text-align: center; }
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label input[type="radio"], .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label input[type="radio"], .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label input[type="radio"] {
    top: -100%; }

/* The following colour changes are for default colours across all styles but are */
/* overridden by selectors further down */
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label.on, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label.on, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.on {
    background: #24ff00;
    color: #FFF !important; }
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label.hover, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label.hover, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.hover {
    background: #b100ff;
    color: #FFF !important; }
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label.selected, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label.selected, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.selected {
    background: #48ffa4;
    color: #FFF !important;
    background: #ff7500;
    background: radial-gradient(ellipse at center, #5985F7 60%, #c54766 62%);
    background: -webkit-radial-gradient(center, ellipse cover, #bbf759 60%, #000000 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$core-color', endColorstr='$border-color', GradientType=1); }
 
  .neb-rating-html-implementation neb-rating .neb-rating.numbers label.rating-label:before, .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle label.rating-label:before, .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label:before {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    padding-left: 10px; }

/**************************************************/
/* These alter the colour of square rating scales */
/**************************************************/
/* on & selected usually the same colour */
/* default colours */
/* On = 3d64cc client = ??????*/
/* hover = 2b4aa0 client = ??????*/
/* selected = 3d64cc client = ??????*/
/* selected border =          client = ?????? */
/* set border-radius */
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label {
  border-radius: 2px; }
/* set colour for ON */
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.on {
    background: #ff0000; }
/* set colour for hover */    
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.hover {
    background: #ffffff; }

/* set colour of selected(accumulative) or during selection(singleselect) */
/* of each border (bottom,left, top, right) and very last attribute is background colour */
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.selected {
    background: linear-gradient(0deg, #62a02b 6%, #b73737 0%), linear-gradient(90deg, #ffdc0f 6%, transparent 0%), linear-gradient(180deg, #ff0000 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC;
    background: -webkit-linear-gradient(90deg, #a02b2b 6%, transparent 0%), linear-gradient(90deg, #4affc8 6%, transparent 0%), linear-gradient(180deg, #2B4AA0 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC; }

/**************************************************/
/* The following alter the colour of circular NPS rating scales */
/**************************************************/

/* background colour of 0-6 ON*/
.neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.on {
  background: #B3391C; }
/* background colour of 7 & 8 ON*/
  .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.on.seven, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.on.eight {
    background: #A3A3A3; }
/* background colour of 9 & 10 ON*/
  .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.on.nine, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.on.ten {
    background: #6A883E; }
/* background-color of 0-6 HOVER */
.neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover {
  background: #902F16; }
/* background-color of 7 & 8 HOVER */
  .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover.seven, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover.eight {
    background: #808080; }
/* background-color of 9 & 10 HOVER */
  .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover.nine, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover.ten {
    background: #4E642E; }

/* background, border color of 0-6 SELECTED */
.neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected {
  background: #B3391C;
  background: radial-gradient(ellipse at center, #B3391C 60%, #902F16 62%);
  background: -webkit-radial-gradient(center, ellipse cover, #B3391C 60%, #902F16 62%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$core-color', endColorstr='$border-color', GradientType=1); }
/* background, border colour of 7 & 8 SELECTED */
 .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.seven, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.eight {
    background: #A3A3A3;
    background: radial-gradient(ellipse at center, #A3A3A3 60%, #808080 62%);
    background: -webkit-radial-gradient(center, ellipse cover, #A3A3A3 60%, #808080 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$core-color', endColorstr='$border-color', GradientType=1); }
/* background, border colour of 9 & 10 SELECTED */
  .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.nine, .neb-rating-html-implementation neb-rating:not(.grading) .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.ten {
    background: #6A883E;
    background: radial-gradient(ellipse at center, #6A883E 60%, #4E642E 62%);
    background: -webkit-radial-gradient(center, ellipse cover, #6A883E 60%, #4E642E 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$core-color', endColorstr='$border-color', GradientType=1); }

/*mobile scale settings*/
/* padding top to shift number down */
.kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
  margin: 0 1px 6px 0 !important;
  padding: 0; }
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value label.rating-label, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus label.rating-label, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value label.rating-label, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus label.rating-label {
    height: 54px; }
    .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value label.rating-label .native-display-value-in-rating, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus label.rating-label .native-display-value-in-rating, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value label.rating-label .native-display-value-in-rating, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus label.rating-label .native-display-value-in-rating {
      padding-top: 15px; }

/*border radius of cirlce (default 2px is more square)*/
.kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label {
  border-radius: 2px; }
/* background-colour of 0-6 cirle*/
  .kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected {
    background: linear-gradient(0deg, #902F16 6%, transparent 0%), linear-gradient(90deg, #902F16 6%, transparent 0%), linear-gradient(180deg, #902F16 6%, transparent 0%), linear-gradient(270deg, #902F16 6%, transparent 0%), #B3391C;
    background: -webkit-linear-gradient(90deg, #902F16 6%, transparent 0%), linear-gradient(90deg, #902F16 6%, transparent 0%), linear-gradient(180deg, #902F16 6%, transparent 0%), linear-gradient(270deg, #902F16 6%, transparent 0%), #B3391C; }
/*background-color of 7-8 circle*/
    .kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.seven, .kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.eight {
      background: linear-gradient(0deg, #808080 6%, transparent 0%), linear-gradient(90deg, #808080 6%, transparent 0%), linear-gradient(180deg, #808080 6%, transparent 0%), linear-gradient(270deg, #808080 6%, transparent 0%), #A3A3A3;
      background: -webkit-linear-gradient(90deg, #808080 6%, transparent 0%), linear-gradient(90deg, #808080 6%, transparent 0%), linear-gradient(180deg, #808080 6%, transparent 0%), linear-gradient(270deg, #808080 6%, transparent 0%), #A3A3A3; }
/*background-color of 9-10 circle*/
    .kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.nine, .kpl-live-mobile.neb-rating-html-implementation neb-rating .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected.ten {
      background: linear-gradient(0deg, #4E642E 6%, transparent 0%), linear-gradient(90deg, #4E642E 6%, transparent 0%), linear-gradient(180deg, #4E642E 6%, transparent 0%), linear-gradient(270deg, #4E642E 6%, transparent 0%), #6A883E;
      background: -webkit-linear-gradient(90deg, #4E642E 6%, transparent 0%), linear-gradient(90deg, #4E642E 6%, transparent 0%), linear-gradient(180deg, #4E642E 6%, transparent 0%), linear-gradient(270deg, #4E642E 6%, transparent 0%), #6A883E; }

/* mobile settings for 0-10 rating type*/
/* border-radius of circle (default 2px is more square)*/
.kpl-live-mobile.neb-rating-html-implementation neb-rating.grading .neb-rating.numbersCircle .neb-rating-value label.rating-label {
  border-radius: 2px; }
/* colour of circle ON */
  .kpl-live-mobile.neb-rating-html-implementation neb-rating.grading .neb-rating.numbersCircle .neb-rating-value label.rating-label.on {
    background: #ff0000; }
/* colour of circle HOVER */
  .kpl-live-mobile.neb-rating-html-implementation neb-rating.grading .neb-rating.numbersCircle .neb-rating-value label.rating-label.hover {
    background: #ffffff; }
/* colour of circle SELECTED each border (bottom,left, top, right) and very last attribute is background colour*/
  .kpl-live-mobile.neb-rating-html-implementation neb-rating.grading .neb-rating.numbersCircle .neb-rating-value label.rating-label.selected {
    background: linear-gradient(0deg, #2B4AA0 6%, transparent 0%), linear-gradient(90deg, #2B4AA0 6%, transparent 0%), linear-gradient(180deg, #2B4AA0 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC;
    background: -webkit-linear-gradient(90deg, #2B4AA0 6%, transparent 0%), linear-gradient(90deg, #2B4AA0 6%, transparent 0%), linear-gradient(180deg, #2B4AA0 6%, transparent 0%), linear-gradient(270deg, #2B4AA0 6%, transparent 0%), #3D64CC; }

@media screen and (max-width: 305px) {
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 24px; }
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 27px; } }

@media screen and (min-width: 306px) and (max-width: 360px) {
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 8.72%; }
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 9.5%; } }

@media screen and (min-width: 361px) and (max-width: 481px) {
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 8.72%; }
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 9.55%; } }

@media screen and (min-width: 482px) {
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="0"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 40px; }
  .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value, .kpl-live-mobile.neb-rating-html-implementation neb-rating[min-value="1"][max-value="10"] .neb-rating .neb-rating-value.on-focus {
    width: 44px; } }

.kpl-live-mobile.neb-rating-html-implementation .neb-rating.numbersCircle, .kpl-live-mobile.neb-rating-html-implementation .neb-rating.numbersSquare {
  height: auto; }

.kpl-live-mobile.neb-rating-html-implementation .neb-mobile-web .neb-web-component.neb-grading1to10 {
  padding-left: 15px !important; }
