@font-face{
    font-family:VodafoneRegular;
    src:url('vodafone-regular.eot');
    src:url('vodafone-regular.eot?#iefix') format('embedded-opentype');
    font-style:normal;
}

body{
    font-family:VodafoneRegular,Helvetica Neue,Helvetica !important;
}
/*Style title 1*/
.mvaTitle1{
  font-family: VodafoneRegular;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
/*Style title 2*/
.mvaTitle2{
  font-family: VodafoneRegular;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
/*Style title 3*/
.mvaTitle3{
  font-family: VodafoneRegular;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
/*To remove the asterisk*/
.fa.fa-asterisk {
    display: none;
}
