/** * example: @include rotate-element(45deg);
 */
/** * example: @include rotate-element(45deg);
 */
 @font-face{
  font-family:VodafoneLight;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonelt_ttf.ttf) format('truetype') 
}
@font-face{
  font-family:VodafoneBold;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot);
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot?#iefix) format('embedded-opentype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_ttf.ttf) format('truetype');
  font-weight:400;
  font-style:normal 
}
@font-face{
  font-family:VodafoneRgBold;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot);
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot?#iefix) format('embedded-opentype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_ttf.ttf)format('truetype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_svg.svg) format('svg');
  font-weight:400;
  font-style:normal 
}
@font-face{
  font-family:VodafoneRegular;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonerg_eot.eot);
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonerg_eot.eot?#iefix) format('embedded-opentype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonerg_ttf.ttf)format('truetype'), url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonerg_svg.svg) format('svg');
  font-weight:400;
  font-style:normal 
}
/* @font-face{
  font-family:VodafoneRegular;
  src:url('vodafone-regular.eot');
  src:url('vodafone-regular.eot?#iefix') format('embedded-opentype');
  font-style:normal;
}
*/
textarea {
 /*style ext*/
  resize: none;
  font-family: VodafoneRegular !important;
  border-color: #000000 !important;
  border-radius: 6px !important;
  background-color: #f2f2f2 !important;
}
/* .PR-Check_Negative-Feedback-Verbatim > .neb-content .neb-wcag > textarea{
  font-family: VodafoneRegular !important;
  border-color: #000000 !important;
  border-radius: 6px !important;
  background-color: #f2f2f2 !important;
}
*/
/*modifica layout esterno*/
.kpl_builder.dig-embedded-live.noRepeatBackGroundImg.kpl-live-mobile.neb-rating-image-implementation.neb-website-form {
  background-color: rgb(242, 242, 242);
  gap: 16px;
 /* width: 375px;
  */
 /* height: auto;
  */
 /* color: rgb(64, 64, 74);
  */
  width: 343px;
  height: 312px;
  padding: 16px 16px 20px 16px;
  gap: 16px;
  border-radius: 6px !important;
}
/*modifica gruppo cta invia chiudi*/
.footer-right-buttons.pull-right {
  display: flex !important;
  width: 176px;
  height: 30px;
  flex-direction: row-reverse !important;
  gap: 16px;
  margin-left: 7rem !important;
 /*margin-right: -22px !important;
 */
 /* gap: 16px;
  */
}
/*modifica btn chiudi*/
button.btn.cancel-btn.form-close-btn.ng-binding.ng-scope {
  border: 2px;
}
/*modifica margine top text area*/
.neb-content.neb-wcag {
  margin-top: 10px;
}
.PR-Check_Negative-Feedback-Verbatim{
  margin-top: 10px;
}
/*modifica * required */
i.fa.fa-asterisk.required-sign{
  display: none !important;
}
/*modifica colore * required per label*/
.has-error .control-label, .has-error .form-control, .has-error .error {
  color: #e60000 !important;
}
/*modifica margin grazie typ*/
div#thankYouPageText{
  margin-bottom: -2rem !important;
  font-family: VodafoneRgBold !important;
}
/*modifica button*/
button {
  font-family: VodafoneRegular !important;
}
.has-error .control-label, .has-error .form-control, .has-error .error {
  color: #e60000 !important;
}
.padding-right-15.padding-left-15 {
 /*modifica container grazie e vector typ*/
  display: flex !important;
  align-items: center !important;
  flex-direction: column-reverse !important;
}
#liveForm .kpl_builder .pageRepeater label, #liveForm .kpl_builder .kpl-thankYouHolder label {
  text-align: left !important;
 /*modifica color label lascia commento*/
  color: #0D0D0D !important;
}
#liveForm .kpl_builder .panel-footer .btn.cancel-btn {
 /*modifica bottone btn chiudi*/
 /* margin-right: 10px;
  */
  background: #9f9fa4;
 /* float: left;
  */
  width: 80px;
  height: 30px;
  border-radius: 6px;
  line-height: 18px;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 6px 12px 6px 12px;
}
#liveForm .kpl_builder .panel-footer .btn.submit-btn {
 /*modifica bottone btn invia*/
  background: #5081ff;
  line-height: 0px;
 /* background: #5081ff;
  */
  width: 80px;
  height: 30px;
  border-color: black;
  border-width: 2px;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  font-family: Vodafone Rg;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
#liveForm .kpl_builder.kpl-live-mobile {
  border: none;
  box-shadow: none;
 /*modifica padding parent element*/
  padding:16px, 16px, 20px, 16px;
}
/*width parent el survey*/
.kpl_builder.dig-embedded-live.noRepeatBackGroundImg.neb-rating-image-implementation.neb-website-form{
  width: 311px !important;
}
body {
  font-family: VodafoneRegular !important;
  background: transparent;
  overflow: hidden;
}
.col-sm-12.neb-form-footer-buttons {
  margin-left: 2.5rem !important;
}
/*modifica x mobile*/
@media only screen and (max-width: 600px) {
  .panel-footer-web {
    margin-left: -3.5rem !important;
  }
  .live-form-content.neb-mobile-web {
    overflow: hidden;
  }
}